/*Make sure to import angular material styling*/
@import  "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(244,244,244);
}

.container{
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.container-small{
  padding: 50px;
  max-width: 800px;
  margin: auto;
}
